.logo{
    animation: App-logo-spin infinite 20s linear;
    height: 50px;
}

.header{
    background-color: rgb(39, 70, 70);
    padding:10px;
    text-align: center;
    color: antiquewhite;
}

.header p{
    margin: 4px 0 0 0;
}

.title{
    font-size: 1.5em;
    margin: 10px;
}